@import '../../styles/_variables.scss';

/* Note - I modified the button background color to meet accessibility standards */
button {
  border: 1px solid $teal-dark;
  background-color: $teal-dark; 
  color: $true-white;
  font-size: $font-size-body;
  font-weight: 700;
  line-height: 28px;
  height: 50px;
  margin-left: -4px;
  padding: 4px 12px;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
  position: relative;
  z-index: 1;

  &:hover {
    background-color: $teal-light;
    border: 1px solid $teal-light;
  }

  &:focus {
    outline: $teal-dark;
  }

  &:disabled {
    background-color: $gray-20;
    border: none;
    color: $gray-60;
    cursor: default;
  }
}