/* Colors */
$gray-80: #333;
$gray-60: #666;
$gray-20: #ccc;
$true-white: #fff;

$teal-light:#19cea3;
$teal-dark:#12a585;
$blue-light: #e3eafc;
$blue-dark: #5a74c9;

$app-background:#fafbff;

$alert-red: #D50032;
$alert-green: #208500;
$alert-orange: #F46335;
$alert-yellow: #EDB72B;


/* Typography */
$font-family-heading: 'Poppins', sans-serif;
$font-family-body:  'IBM Plex Sans', sans-serif;

$font-size-body: 18px;
$font-size-h2: 28px;


/* Border */
$border-radius: 4px;